<div class="container">
    <form>
      <label for="{{namelabel}}">{{ namelabel }}</label>
      <input type="text" name="{{namelabel}}" [(ngModel)]="name" placeholder="Your name..">
  
      <label for="{lastnamelabel}">{{ lastnamelabel }}</label>
      <input type="text" name="{{lastnamelabel}}" [(ngModel)]="lastname" placeholder="Your last name..">
  
      <label for="countrylabel">{{ countrylabel }}</label>
      <select name="{{ countrylabel }}" [(ngModel)]="countryselected">
        <option *ngFor="let country of countries" [ngValue]="country">
            {{country}}
        </option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" [(ngModel)]="subjectvalue" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit" (click)="getInfo()">
  
    </form>
  </div>